body {
  background-image: linear-gradient(to top, #a892da 0%, #ceb4ca 100%);
  color: rgb(27, 27, 27);
}

header {
  position: static;
}

main li img {
  width: 350px;
  height: 320px
}

main ul {
  width: 1400px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 700px 700px;
  gap: 25px 25px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

li:nth-of-type(6) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-image: radial-gradient(
    circle farthest-corner at 11.7% 80.6%,
    rgba(249, 185, 255, 1) 0%,
    rgba(177, 172, 255, 1) 49.3%,
    rgba(98, 203, 255, 1) 89%
  );
  box-shadow: 2px 3px 5px rgba(100, 68, 182, 0.555);
  border-radius: 10px;
  overflow: hidden;
  transition: transform ease-in 0.7s;
}

main li:hover {
  transform: scale(1.2);
}

.item-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 8px;
  font-size: large;
}

.actions a:hover {
  background-color: rgba(25, 65, 175, 0.24);
  border-radius: 5px;
}

header nav a:hover {
  background-color: rgb(183, 230, 235);
  border-radius: 5px;
}

footer {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(163, 175, 243, 1) 0%,
    rgba(220, 182, 232, 1) 100.2%
  );
  padding: 15px;
}

footer li {
  width: 70px;
  height: 34px;
  margin: 0 40px;
}

footer img {
  width: 45px;
  height: 45px;
}

footer ul {
  display: flex;
  justify-content: center;
}

